@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.logo{
  font-family: "Hanalei Fill", cursive;
}
.showcase{
  height: 100vh;
  background: url('./images/bg-1.jpg') no-repeat center/cover;
}
.showcase .overlay{
  height: 100vh;
  background: rgba(0,0,0,0.8)
}